<img src="images/icon-512.png" class="pull-right" width=128 height=128>

<!-- ======================================================================= -->
<h2>source</h2>

<p>fork me at
<a href="https://github.com/pmuellr/us-weather">GitHub</a>

<!-- ======================================================================= -->
<h2>attributions</h2>

<p>The icon image used for this is was derived from `Cloud-Sun.svg` from:

<ul>
<li>
<a href="http://adamwhitcroft.com/climacons/">http://adamwhitcroft.com/climacons/</a>
</ul>

<p>Weather data is obtained from the 
<a href="http://www.weather.gov/">US National Weather Service</a>.
They only cover the US, which is why this app isn't named "world-wide-weather".
The data is obtained using their REST interface, described here:

<ul>
<li>
<a href="http://graphical.weather.gov/xml/rest.php">http://graphical.weather.gov/xml/rest.php</a>
</ul>

<p>Mapping capabilities come from the 
<a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API</a>.

<h2>version</h2>

<p>package: {{pkg.name}}, version: {{pkg.version}}, built on: {{builtOn | date:'medium'}}
