<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" role="form">
            <button class="btn btn-primary" ng-click="clear()" ng-disabled="!messages.length">
                clear
            </button>

            <span style="margin-left:2em"></span>
            
            <label class="checkbox-inline"><input type="checkbox"> show verbose </label>
            <label class="checkbox-inline"><input type="checkbox"> show appCache </label>
        </form>

    </div>
    <div class="panel-body">
        <div ng-hide="messages.length" class="alert alert-info">
            no messages
        </div>
        
        <table ng-show="messages.length" class="table table-striped">
            <tr ng-repeat="message in messages">
                <td>{{message.date | LogTime}}
                <td width="100%">{{message.text}}
        </table>
    </div>

